/* Border for margin and padding checking 
* {
    border: 1px solid #000;
}
*/

/* ---------------------------------------------------------------------------------------------------- */

/* Color for margin and padding checking */
:root {
  --primary: #166ab8;
  --secondary: #155999;
  --tertiary: #114e86;
  --accent: #eff0f2;
  --neutral: #444440;
  --white: #ffffff;
}
header {
  background-color: var(--primary);
  color: var(--white);
}
nav ul > li.collapsible,
.active,
.collapsible:hover {
  background-color: var(--tertiary);
}

main {
  background-color: var(--accent);
}

div.page {
  background-color: var(--white);
  color: var(--neutral);
}

aside {
  background-color: var(--white);
}

#content {
  background-color: var(--white);
}

footer {
  background-color: var(--primary);
  color: var(--white);
}

/* ---------------------------------------------------------------------------------------------------- */

/* Global styling */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: medium;
  margin: 0px;
}
header,
nav,
main,
#content,
article,
div,
aside,
footer {
  /* border: 1px solid #000; */
  padding: 8px;
}
img {
  max-width: 100%;
  height: auto;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Header & Nav styling */
nav ul {
  margin-block-start: 0px;
  margin-block-end: 0px;

  padding-inline-start: 8px;
  padding-inline-end: 8px;
}
nav ul.navbar {
  display: inline-flex;
  padding-inline-start: 8px;
  width: 100%;
  list-style: none;
}
nav ul.navbar > li.nav-title {
  font-weight: bold;
  font-size: 24pt;
  text-transform: uppercase;
  letter-spacing: 1pt;
}
nav ul.navbar > li.search-bar {
  display: inline-flex;
  padding: 8px;
}
nav ul.navbar > li.search-bar > input[type="text"],
nav ul.navbar > li.search-bar > button {
  border: none;
  padding: 4px;
}
nav ul.navbar > li.search-bar > button {
  border: 1px solid var(--tertiary);
  background-color: var(--secondary);
  color: var(--white);
}
nav ul.navbar > li ul > li {
  display: inline-flex;
  list-style: none;
}
nav ul.navbar > li ul > li > a {
  color: inherit;
  text-decoration: none;
  padding: 8px 8px;
}
nav ul.navbar > li ul > li > a.btn {
  cursor: pointer;
  border: solid #ffffff 1px;
  border-radius: 10%;
}

/* Nav Link hover animation*/
nav ul.navbar > li ul > li > a {
  position: relative;
}
nav ul.navbar > li ul > li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--white);
  height: 2px;
  margin-bottom: -2px;
  transition: width 0.5s;
}
nav ul.navbar > li ul > li > a:hover:not(.btn-download):after {
  width: 100%;
}
nav ul.navbar > li ul > li > a:hover,
nav ul.navbar > li ul > li > a:active {
  color: inherit;
}
nav ul.navbar > li.nav-title,
nav ul.navbar > li ul > li.nav-item {
  padding: 0px 8px;
}
nav ul.navbar > li.collapsible {
  display: none;
}
nav ul.navbar > li.collapsible-menu {
  transition: max-height 0.2s ease-out;
  margin-left: auto;
  order: 2;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Main styling */
div.page {
  display: flex;
  flex-flow: row;
  border-left: 32px solid var(--primary);
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-left: 128px;
  margin-right: 128px;
}
hr.divider {
  display: none;
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Aside styling */
aside {
  flex-grow: 1;
  flex-basis: 40%;
}
div.side {
  padding: 8px;

  margin-block-start: 8px;
  margin-block-end: 8px;
}
div.side:first-child {
  margin-block-start: 0px;
}
div.side:last-child {
  margin-block-end: 0px;
}
div.side > h3.side-title {
  width: auto;
  padding: 8px 16px;

  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1pt;

  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);

  margin-block-start: 0px;
  margin-block-end: 0px;
}
div.side > div.card > ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 16px;
}
div.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.profile-card > h2 {
  margin-block-end: 0px;
}
div.profile-card > p,
div.description-card > p {
  text-align: justify;
}
div.profile-card > img.profile-image {
  border: 4px solid var(--accent);
  max-width: 128px;
  max-height: 128px;
}
div.profile-card > h2.profile-name {
  color: var(--primary);
}
div.profile-card > h2.profile-name,
div.profile-card > p.profile-job {
  font-weight: bold;
  letter-spacing: 1pt;
  text-transform: uppercase;
}
div.techstack-card > ul {
  list-style: disc outside url("../img/check.svg");
}
div.contact-card > div.contact-list {
  display: flex;
  padding: 0px;
}
div.contact-card > div.contact-list::before {
  font-family: "Material Icons";
  margin: 4px;
  color: var(--primary);
}
div.contact-card > div.contact-list.phone::before {
  content: "smartphone";
}
div.contact-card > div.contact-list.email::before {
  content: "alternate_email";
}
div.contact-card > div.contact-list.linkedin::before {
  content: "smartphone";
}
div.contact-card > div.contact-list.address::before {
  content: "home";
}

/* ---------------------------------------------------------------------------------------------------- */

/* Content and Article styling */
#content {
  flex-grow: 2;
  flex-basis: 60%;
}
article.article {
  padding: 8px 0px;
}
article.article,
div.section,
div.card {
  margin-block-start: 8px;
  margin-block-end: 8px;
}
div.card {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
}
div.card > p {
  font-size: medium;
}
div.card > ul > li::marker {
  color: var(--primary);
}
article.article:first-child,
div.section:first-child,
div.card:first-child {
  margin-block-start: 0px;
}
article.article:last-child,
div.section:last-child,
div.card:last-child {
  margin-block-end: 0px;
}
article.article > h3.article-title {
  width: auto;
  padding: 8px 16px;

  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 1pt;

  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);

  margin-block-start: 0px;
  margin-block-end: 0px;
}
article.article > h3.article-title > span {
  float: right;
  color: var(--neutral);
  text-transform: lowercase;
  font-size: small;
  font-weight: 400;
}
article.article > div.card > p,
article.article > div.card > h4,
article.article > div.section > div.card > p,
article.article > div.section > div.card > h4 {
  margin-block-start: 4px;
  margin-block-end: 4px;
}
article.article > div.card > ul,
article.article > div.section > div.card > ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 16px;
}
div.achievements-card > ul {
  margin-block-start: 1em;
  padding-inline-start: 16px;
  list-style: disc outside url("../img/star.svg");
}
div.portfolio-card {
  flex-direction: row;
}
div.portfolio-card > img.portfolio-preview {
  max-width: 448px;
  box-shadow: 8px 8px 8px #000000;
}
div.portfolio-card > div.portfolio-description {
  padding-left: 16px;
}
div.portfolio-card > div.portfolio-description p {
  text-align: justify;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Footer styling */
footer {
  padding: 16px;
}

/* ---------------------------------------------------------------------------------------------------- */

/* Responsive styling */
@media screen and (max-width: 916px) {
  div.page {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  hr.divider {
    display: block;
  }
  nav ul.navbar {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
  }
  nav ul.navbar > li {
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  nav ul.navbar > li.collapsible {
    display: inherit;
  }
  nav ul.navbar > li.collapsible-menu {
    background-color: var(--secondary);
    padding: 0px;
    margin-left: 0px;
    max-height: 0;
    overflow: hidden;
  }
  nav ul.navbar > li.collapsible.active + li.collapsible-menu {
    padding: 8px;
  }
  nav ul.navbar > li.collapsible-menu > ul.nav-menu {
    display: inline-block;
  }
  #content,
  aside {
    flex-basis: 100%;
  }
  article.article > h3.article-title > span {
    display: block;
    color: var(--neutral);
    text-transform: lowercase;
    font-size: small;
    font-weight: 400;
  }
  div.portfolio-card,
  div.profile-card,
  div.description-card {
    padding: 8px;
    flex-direction: column;
  }
  div.portfolio-card > div.portfolio-description,
  div.description-card > div.description-text {
    padding: 0px 16px;
  }
  div.portfolio-card > img.portfolio-preview,
  div.portfolio-card > div.portfolio-description,
  div.description-card > div.description-text {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 568px) {
  nav ul.navbar > li.collapsible-menu {
    display: block;
    max-height: 0;
    text-align: center;
    overflow: hidden;
  }
  nav ul.navbar > li.collapsible-menu > ul.nav-menu > li.nav-item {
    display: block;
    width: 100%;
    padding: 8px;
  }
}
